<% flash.each do |key, msg| %>
  <% key = 'success' if key.to_s == 'notice' %>
  <% key = 'error' if key.to_s == 'alert' %>
  <div class="alert-message sign-in <%= key %>" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong><%= msg %></strong></p>
  </div>
<% end %>
<div id="centerbox">
  <div id="sign_in">
    <h3 class="title">Inloggen <small>HAN toAssess</small></h3>
    <div class="content">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="clearfix">
        <%= f.label :email, 'E-mailadres' %>
        <div class="input">
          <%= f.email_field :email %>
        </div>
      </div>
      <div class="clearfix">
        <%= f.label :password, 'Wachtwoord' %>
        <div class="input">
          <%= f.password_field :password %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="clearfix">
          <div class="input">
            <ul class="inputs-list">
              <li>
                <label>
                  <%= f.check_box :remember_me %>
                  <span>Herinner mij</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Log in", :class => 'btn primary' %>
      </div>
    <% end %>
    <%= render 'footer' %>
    </div>
  </div>
</div>
