<%= title 'Profiel' %>
<%= description 'Werk uw gegevens bij' %>

<% unless current_user.admin? %>
<div style="position: absolute; left: 600px; padding-top: 34px;">
  <h5>Uw courses</h5>
  <ul>
  <% for category in @categories %>
    <% if category.courses.any? { |c| current_user.courses.include?(c) } %>
    <li style="list-style: square;">
      <span><%= category.name %></span>
      <ul>
        <% for course in category.courses %>
          <% if current_user.courses.include? course %>
          <li><span style="color: #404040;"><%= course.name %></span></li>
          <% end %>
        <% end %>
      </ul>
    </li>
    <% end %>
  <% end %>
  </ul>
</div>
<% end %>
<%= form_for current_user, :autocomplete => 'off' do |f| %>
  <fieldset>
    <legend>Uw gegevens</legend>
    <div class="clearfix">
      <%= f.label :name, 'Naam' %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :email, 'E-mail' %>
      <div class="input">
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password, 'Nieuw wachtwoord' %>
      <div class="input">
        <%= f.password_field :password, :autocomplete => 'off' %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password_confirmation, 'Bevestig nieuw wachtwoord' %>
      <div class="input">
        <%= f.password_field :password_confirmation, :autocomplete => 'off' %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Bijwerken', :class => 'btn primary' %>
    </div>
  </fieldset>
<% end %>