<%= title 'Courses' %>
<%= description 'Voeg courses toe of werk courses bij' %>

<%= form_for @category do |f| %>
  <fieldset>
    <legend>Voer een propedeuse, semester of minor en bijbehorende courses in</legend>
    <div class="clearfix">
      <%= f.label :name, 'Propedeuse / semester / minor' %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>
    <%= f.fields_for :courses do |c| %>
      <div class="clearfix courses">
        <%= c.label :name, 'Course' %>
        <div class="input">
          <%= c.text_field :name, :class => 'span3' %>
        </div>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit 'Toevoegen', :class => 'btn primary' %>
    </div>
  </fieldset>
<% end %>

<table id="categories">
<% for category in @categories %>
  <thead>
    <tr>
      <th>Propedeuse, semester of minor</th><th>Courses</th>
    </tr>
  </thead>
  <%= form_for category do |f| %>
    <tbody>
      <tr>
        <td><%= f.text_field :name %></td>
        <td>
          <% (6 - category.courses.length).times { category.courses.build } %>
            <%= f.fields_for :courses do |c| %>
            <% if c.object_name.gsub(/[^0-9]+/,'').to_i < category.courses.length - 1 %>
              <%= c.text_field :name, :class => 'span3' %>
              <%= c.check_box :_destroy, :as => :boolean %> <span style="position: relative; top: -2px;">Verwijderen</span><br /><br />
            <% else %>
              <%= c.text_field :name, :class => 'span3 last-course' %>
              <%= c.check_box :_destroy, :as => :boolean %> <span style="position: relative; top: -2px;">Verwijderen</span><br />
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr class="table-submit" style="background-color: #f5f5f5;">
        <td colspan="2">
          <%= f.submit 'Bijwerken', :class => 'btn primary' %>&nbsp;
          <%= link_to 'Verwijderen', category_path(category), :method => :delete, :confirm => 'Weet u zeker dat u deze courses wil verwijderen?', :class => 'btn danger' %>
        </td>
      </tr>
    </tbody>
  <% end %>
<% end %>
</table>