<h2>Algemene informatie</h2>
<%= form_for @exam do |f| %>
<input type="hidden" name="exam[user_id]" value="<%= current_user.id %>" id="exam-user-id" />
<div class="clearfix">
  <label>Course</label>
  <div class="input">
  <ul class="inputs-list new-exam-courses">
  <% for category in @categories %>
    <% if category.courses.any? { |s| current_user.courses.include?(s) } %>
    <li>
      <span><%= category.name%></span>
      <ul>
        <% for course in category.courses %>
        <% if current_user.courses.include? course %>
        <label>
          <input type="radio" value="<%= course.id %>" name="exam[course_id]" <%= 'checked' if @exam.course == course %>>
          <span><%= course.name %></span>
        </label>
        <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% end %>
  </ul>
  </div>
</div>
<div class="clearfix">
<%= f.label :title, 'Titel' %>
<div class="input"><%= f.text_field :title %></div>
</div>
<div class="clearfix">
<%= f.label :description, 'Beschrijving' %>
<div class="input"><%= f.text_area :description, :rows => '5' %></div>
</div>
<h2>Vragen</h2>
<table id="questions">
<% @exam.questions.each_with_index do |q, i| %>
  <thead>
    <tr><th>#</th><th>Type</th><th>Vraag</th><th>Antwoord</th><th>Verwijderen</th></tr>
  </thead>
  <% if q.question_type == 'open' %>
  <tbody>
    <tr>
      <td><%= i + 1 %><input type="hidden" name="exam[questions_attributes][<%= i %>][id]" value="<%= q.id %>" /></td>
      <td>Open<input type="hidden" name="exam[questions_attributes][<%= i %>][question_type]" value="open" /></td>
      <td><input type="text" name="exam[questions_attributes][<%= i %>][question]" value="<%= q.question %>" /></td>
      <td><textarea name="exam[questions_attributes][<%= i %>][answer]" rows="5"><%= q.answer %></textarea></td>
      <td>
        <input as="boolean" name="exam[questions_attributes][<%= i %>][_destroy]" type="checkbox" value="1" />
        <input type="hidden" name="exam[questions_attributes][<%= i %>][difficulty]" value="<%= q.difficulty %>" />
        <input type="hidden" name="exam[questions_attributes][<%= i %>][time]" value="<%= q.time %>" />
      </td>
    </tr>
  </tbody>
  <% elsif q.question_type == 'mc' %>
  <tbody>
    <tr>
      <td><%= i + 1 %><input type="hidden" name="exam[questions_attributes][<%= i %>][id]" value="<%= q.id %>" /></td>
      <td>Multiple-choice<input type="hidden" name="exam[questions_attributes][<%= i %>][question_type]" value="mc" /></td>
      <td><input type="text" name="exam[questions_attributes][<%= i %>][question]" value="<%= q.question %>" /></td>
      <td>
        <div class="clearfix">
          <div class="input-prepend">
            <label class="add-on">A <input type="radio" name="exam[questions_attributes][<%= i %>][correct]" value="0" <%= 'checked' if q.correct.to_i == 0 %> /></label>
            <input class="mini" name="exam[questions_attributes][<%= i %>][answer][0][text]" size="30" type="text" value="<%= q.answer.to_a[0][1].to_a[0][1] %>">
          </div>
        </div>
        <div class="clearfix">
          <div class="input-prepend">
            <label class="add-on">B <input type="radio" name="exam[questions_attributes][<%= i %>][correct]" value="1" <%= 'checked' if q.correct.to_i == 1 %> /></label>
            <input class="mini" name="exam[questions_attributes][<%= i %>][answer][1][text]" size="30" type="text" value="<%= q.answer.to_a[1][1].to_a[0][1] %>">
          </div>
        </div>
        <div class="clearfix">
          <div class="input-prepend">
            <label class="add-on">C <input type="radio" name="exam[questions_attributes][<%= i %>][correct]" value="2" <%= 'checked' if q.correct.to_i == 2 %> /></label>
            <input class="mini" name="exam[questions_attributes][<%= i %>][answer][2][text]" size="30" type="text" value="<%= q.answer.to_a[2][1].to_a[0][1] %>">
          </div>
        </div>
        <div class="clearfix">
          <div class="input-prepend">
            <label class="add-on">D <input type="radio" name="exam[questions_attributes][<%= i %>][correct]" value="3" <%= 'checked' if q.correct.to_i == 3 %> /></label>
            <input class="mini" name="exam[questions_attributes][<%= i %>][answer][3][text]" size="30" type="text" value="<%= q.answer.to_a[3][1].to_a[0][1] %>">
          </div>
        </div>
      </td>
      <td>
        <input as="boolean" name="exam[questions_attributes][<%= i %>][_destroy]" type="checkbox" value="1" />
        <input type="hidden" name="exam[questions_attributes][<%= i %>][difficulty]" value="<%= q.difficulty %>" />
        <input type="hidden" name="exam[questions_attributes][<%= i %>][time]" value="<%= q.time %>" />
      </td>
    </tr>
  </tbody>
  <% elsif q.question_type == 'thesis' %>
  <tbody>
    <tr>
      <td><%= i + 1 %><input type="hidden" name="exam[questions_attributes][<%= i %>][id]" value="<%= q.id %>" /></td>
      <td>Stelling<input type="hidden" name="exam[questions_attributes][<%= i %>][question_type]" value="thesis" /></td>
      <td>
        <div class="clearfix">
          <div class="input"><input type="text" name="exam[questions_attributes][<%= i %>][question]" value="<%= q.question %>" /></div>
        </div>
        <div class="clearfix">
          <label>Stelling 1:</label>
          <div class="input">
            <input type="text" name="exam[questions_attributes][<%= i %>][thesis][0][text]" value="<%= q.thesis.to_a[0][1].to_a[0][1] %>" />
          </div>
        </div>
        <div class="clearfix">
          <label>Stelling 2:</label>
          <div class="input">
            <input type="text" name="exam[questions_attributes][<%= i %>][thesis][1][text]" value="<%= q.thesis.to_a[1][1].to_a[0][1] %>" />
          </div>
        </div>
      </td>
      <td>
        <ul class="inputs-list">
          <li>
            <label>
              <input type="radio" name="exam[questions_attributes][<%= i %>][correct]" value="0" <%= 'checked' if q.correct.to_i == 0 %> />
              <span>Stelling 1 is waar.</span>
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="exam[questions_attributes][<%= i %>][correct]" value="1" <%= 'checked' if q.correct.to_i == 1 %> />
              <span>Stelling 2 is waar.</span>
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="exam[questions_attributes][<%= i %>][correct]" value="2" <%= 'checked' if q.correct.to_i == 2 %> />
              <span>Beide stellingen zijn waar.</span>
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="exam[questions_attributes][<%= i %>][correct]" value="3" <%= 'checked' if q.correct.to_i == 3 %> />
              <span>Beide stellingen zijn niet waar.</span>
            </label>
          </li>
        </ul>
      </td>
      <td>
        <input as="boolean" name="exam[questions_attributes][<%= i %>][_destroy]" type="checkbox" value="1" />
        <input type="hidden" name="exam[questions_attributes][<%= i %>][difficulty]" value="<%= q.difficulty %>" />
        <input type="hidden" name="exam[questions_attributes][<%= i %>][time]" value="<%= q.time %>" />
      </td>
    </tr>
  </tbody>
  <% end %>
<% end %>
</table>
<div class="actions">
  <a href="#" id="add-open-question" class="btn success">Open vraag toevoegen</a>&nbsp;<a href="#" id="add-mc-question" class="btn success">Multiple-choice vraag toevoegen</a>&nbsp;<a href="#" id="add-thesis-question" class="btn success">Stellingvraag toevoegen</a>
</div>
<div class="actions">
  <%= f.submit 'Tentamen bijwerken', :class => 'btn primary' %>
  <%= link_to 'Tentamen verwijderen', exam_path(@exam), :method => :delete, :confirm => 'Weet u het zeker?', :class => 'btn danger' %>
</div>
<% end %>