<% title 'Nieuw tentamen' %>
<% description 'Voeg algemene gegevens en vragen toe' %>

<%= form_for @exam do |f| %>
  <div class="row">
    <%= render 'block-message' %>
    <fieldset>
      <legend>Selecteer een course en voer een titel en een beschrijving in</legend>
      <div class="clearfix">
        <label>Course</label>
        <div class="input course" style="padding-top: 6px;">
          <input type="hidden" name="exam[user_id]" value="<%= current_user.id %>" id="exam-user-id" />
          <ul class="inputs-list">
            <% for category in @categories %>
              <% if category.courses.any? { |c| current_user.courses.include?(c) } %>
              <li>
                <span><%= category.name %></span>
                <ul>
                  <% for course in category.courses %>
                    <% if current_user.courses.include? course %>
                    <label>
                      <input type="radio" value="<%= course.id %>" name="exam[course_id]">
                      <span><%= course.name %></span>
                    </label>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="clearfix">
        <%= f.label :title, 'Titel' %>
        <div class="input">
          <%= f.text_field :title, :class => 'xlarge' %>
        </div>
      </div>
      <div class="clearfix">
        <%= f.label :description, 'Beschrijving', :style => 'padding-top: 12px;' %>
        <div class="input">
          <div id="wmd-button-bar-0"></div>
          <%= f.text_area :description, :id => 'wmd-input-0', :class => 'pull-left' %>
          <div id="wmd-preview-0" class="preview pull-right"></div>
        </div>
      </div>
      <br /><br />
      <div id="exam-questions">
        <h2>Vragen</h2>
        <hr />
      </div>
    </fieldset>
  </div>
  <div class="actions">
    <h4>Voeg een vraag toe:</h4>
    <a href="#" id="add-open-question" class="btn">Open vraag</a>
    &nbsp;<a href="#" id="add-true_false-question" class="btn">Waarheidsvraag</a>
    &nbsp;<a href="#" id="add-multiple_choice-question" class="btn">Multiple-choice vraag</a>
    &nbsp;<a href="#" id="add-multiple_answers-question" class="btn">Meerdere antwoorden vraag</a>
    &nbsp;<a href="#" id="add-statements-question" class="btn">Stellingvraag</a>
  </div>
  <div class="actions">
    <%= f.submit 'Tentamen opslaan', :class => 'btn primary' %>
  </div>
<% end %>