<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HAN toAssess - <%= yield(:title).blank? ? 'De plek voor tentamens.' : yield(:title) %></title>
    <meta name="description" content="">
    <meta name="author" content="">
	  <%= stylesheet_link_tag 'application' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
  </head>
  <body id="<%= controller_name %>" data-action="<%= action_name %>">
    <% unless controller_name == 'sessions' and action_name == 'new' %>
    <%= render 'header'  %>
    <div id="content" class="container">
      <%= render 'page-header' %>
      <% flash.each do |key, msg| %>
        <% key = 'success' if key.to_s == 'notice' %>
        <% key = 'error' if key.to_s == 'alert' %>
        <div class="center">
          <div class="alert-message <%= key %>" data-alert="alert">
            <a class="close" href="#">×</a>
            <p><strong><%= msg %></strong></p>
          </div>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'footer' %>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>